* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 43, 44);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00aeff;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #007acc;
}

.conteiner-resultado{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}
.alerta{
    color: red;
}